<!DOCTYPE html>
<html>

<head>
  <title>
    eclair</title>
  <link rel='stylesheet' href='/stylesheets/style(test).css' />
  <meta name="viewport" content="width=device-width, initial-scale=1">
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type= 'text/javascript' src= '/javascripts/script.js'></script>

  
</head>

<body>

  <img src="/images/button_close_normal.png" style="float:left; margin-top:9px; padding-left:16px ">
  <div class= "finish" >Completed</div>
  <br>
  <br>
  <div class="category-text"value = "cs2">기피하는 화장품 브랜드를<br>선택해주세요</div>
  <div id="q2">
   

    <table class="answer">
      <tr>
        <td>
          <input class="button_brand_normal" type="image" data-checked="check" name="q2_btns" src="/images/Asset 1.svg" value ="p1"  >
          <div class="desc-text2">에스티로더</div>
        </td>
        <td>
          <input class="button_brand_normal" type="image" data-checked="check" name="q2_btns" src ="/images/Asset 10.svg"value ="p2" >
          <div class="desc-text2">에스케이투</div>
        </td>
        <td>
          <input class="button_brand_normal" type="image" data-checked="check"name="q2_btns" src ="/images/Asset 3.svg"value ="p3" >
          <div class="desc-text2">디올</div>
        </td>
      </tr>
     
      </tr>
      <tr>
      <td>
        <input class="button_brand_normal" type="image" data-checked="check"name="q2_btns" src= "/images/Asset 4.svg"value ="p4" >
        <div class="desc-text2">비오템</div>
      </td>
      <td>
        <input class="button_brand_normal" type="image" data-checked="check"name="q2_btns" src = "/images/Asset 5.svg"value ="p5">
        <div class="desc-text2">키엘</div>
      </td>
      <td>
        <input class="button_brand_normal" type="image" data-checked="check"name="q2_btns" src ="/images/Asset 6.svg" value ="p6">
        <div class="desc-text2">마몽드</div>
      </td>
    </tr>
    <tr>
    <td>
      <input class="button_brand_normal" type="image" data-checked="check"name="q2_btns" src= "/images/Asset 7.svg" value ="p7">
      <div class="desc-text2">아벤느</div>
    </td>
    <td>
      <input class="button_brand_normal" type="image" data-checked="check"name="q2_btns" src = "/images/Asset 8.svg"value ="p8">
      <div class="desc-text2">러쉬</div>
    </td>
    <td>
      <input class="button_brand_normal" type="image" data-checked="check"name="q2_btns" src = "/images/Asset 9.svg"value ="p9">
      <div class="desc-text2">닥터자르트</div>
    </td>
  </tr>
  
    </table>
  </div>

 
  <script>

  
    var answers =  <%-JSON.stringify(list)-%> ;
  
  </script>
  </body>
  </html>
