body{
  padding: 16px;
  font: 13px helvetica, apple sd gothic neo, sans-serif;
}

a{
    color: #00B7FF;
}


h1{
  color: #000000de;
  font: 27px helvetica, apple sd gothic neo, sans-serif;

}

h2{
   color: #0000008a;
   font: 15px helvetica, apple sd gothic neo, sans-serif;
}
h4{
   color: #0000008a;
   font: 15px helvetica, apple sd gothic neo, sans-serif;
}
.btn_img{
    width:28%;
    height:88px;
    border-radius: 8px;
}
.btn_img_sel{
    width:28%;
    height:88px;
    border-radius: 8px;
    color: #f86f9c59;
}
.category-text{
  font: 16px helvetica, apple sd gothic neo, sans-serif;
  font-weight: bold;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 16px;
  margin-bottom: 8px;
}
.question-text{
  font: 16px helvetica, apple sd gothic neo, sans-serif;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 32px;
  margin-bottom: 8px;
}
.desc-text{
  text-align: center;
  font: 10px helvetica, apple sd gothic neo, sans-serif;
}
.btn_round{
  font-family: helvetica, apple sd gothic neo, sans-serif;
  background-color: #ffffff;
  border: 2px solid black;
  border-color: #f2f2f2;
  color: black;
  padding: 13px 18px;
  text-align: center;
  font-size: 12px;
  margin: 8px 8px;
  opacity: 1;
  transition: 0.3s;
  border-radius: 50%;
}
.btn_round_checked{
  background-color: #f86f9c;
  color: white;
  border: none;
}
#answer-hor{
  border-collapse: collapse;
}
#trigger

.container {
    display: block;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    font-size: 13px;
    margin-left: 16px;
    margin-bottom: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.check_back{
  position: absolute;
  top: 0;
  left: 0;
  width: 11px;
  height: 11px;
  margin-top: 2px;
  border: 1px solid black;
  border-color: #f86f9c;
  border-radius: 3px;
}
.container input:checked ~ .checkmark{
     position: absolute;
    width: 14px;
    height: 10px;
    margin-left: 1px;
    background-image: url(/images/ic_check.png);
    background-size: auto 100%;
    background-repeat: no-repeat;
}
.checkmark:after{
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 10px;
  margin-top: 2px;
  margin-left: 1px;
  background-image: url(/images/ic_check.png);
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.checkmark{
  position: absolute;
  top: 0;
  left:;
  width: 14px;
  height: 10px;
  margin-top: 2px;
  margin-left: 1px;
  display: none;
}

.container input:checked ~ .checkmark

.container input:checked ~ .checkmark:after{
    display: block;
}

input[type=text]{
    width: 100%;
    padding: 8px 8px;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: none;
    border-bottom: 1px solid #bebebe;
}
.btn_radio{
    border: 2px solid #bebebe;
    color: #bebebe;
    background-color: white;
    border-radius: 25px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
  }
.btn_radio_checked{
    border: 2px solid #f86f9c;
    color: #f86f9c;
    background-color: white;
    border-radius: 25px;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 4px;
    margin-bottom: 4px;
    cursor: pointer;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 4px;
  margin-bottom: 4px;
  align-content: space-between;
}
